{% extends "auctions/layout.html" %}

{% block body %}
    <h2>
        listing: {{item.listingname}}
    </h2>
    <div>
        <img src="{{item.imgurl}}" height="250">
    </div>
    <div class="ltext">
        {{item.description}} <br>
        Current bid: ${{item.initialvalue}} <br>
        <p class="text-danger">{{error}}</p>
    </div>
    {% if user.is_authenticated %}
        <form action="/{{id}}" method="POST">
            <fieldset disabled>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">submit</button> 
            </fieldset>
        </form>
        <a href="{% url 'watch' %}"> {{watch}}</a> <br>
        <a href="{% url 'close' %}"> {{archive}}</a> <br>
        <p> {{winner}} </p>
    {% else %}
    Sign in to place a bid!
    {% endif %}
    <div class="ltext">
        Listed by: {{owner}}
    </div>

    {% if user.is_authenticated %}
    <form action="{% url 'comment' %}" method="POST">
        {% csrf_token %}
        {{comment}}
        <button type="submit" class="btn btn-info">submit</button>
    </form>
    
    {% endif %}

    <table class="table">
        <thead>
            <tr>
              <th scope="col">Comment</th>
            </tr>
          </thead>
    {% for comment in comments %}
    <tr>
    <th scope="row">{{comment.username}}</th>
    <td>{{comment.comment}}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}